<a href="https://colab.research.google.com/github/Tetencha/data/blob/main/DDS_Stats_Clase_2_Resolucion_Actividad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Actividad

<p> La base de datos <code>salud.xlsx</code> contiene información reúne información de 350 niños  en edad escolar, que provienen de distintos tipos de colegio. Las variables en cuestión son: </p>

| Variable | Descripción |
| -------- | ----------- |
| `id` | Identificación del niño. |
| `t_ejercicio` | Horas mensuales dedicadas a ejercicio. |
| `calorias`  |Consumo diario de calorías |
| `IMC`  | Índice de masa corporal. |        
| `sexo` |  Sexo de la persona. |
| `colegio` | Tipo de colegio (Municipal, Particular o Subvencionado) |
| `rendimiento`  | Rendimiento (Alto, Medio o Bajo) |

<p>Las base de datos se encuesta disponible para descargar en la plataforma del curso o de manera directa en el siguiente <a href='https://drive.google.com/file/d/1uDYrPZeebn0i0fEIJFiKnx-BWpK3lcaG/view?usp=sharing'><b>link</b></a>.</p>

1.- Cargue la base de datos en Python y realice un análisis breve de ellas, indicando el tipo de cada variable.

2.- Usando el comando <code>crosstab()</code> y calculando las proporciones, responda las siguientes preguntas:

<ol type="a">
	<li><p> ¿Cuál es la probabilidad de pertenecer a colegio municipal? </p></li>
	<li><p> ¿Cuál es la probabilidad de ser de sexo femenino dado que se pertenece a colegio municipal? </p></li>
	<li><p> ¿Cuál es la probabilidad de pertenecer a colegio municipal dado que se es de sexo Femenino?</p></li>
	<li><p> ¿Cuál es la probabilidad de tener un IMC entre 22 y 25? </p></li>
	<li><p> ¿Cuál es la probabilidad de ser de tener un IMC entre 22 y 25 dado que se pertenece a colegio municipal? </p></li>
	<li><p> ¿Cuál es la probabilidad de pertenecer a colegio particular dado que el IMC está entre 19 y 22? </p></li>
</ol>

## Solución
1.- Cargue la base de datos en Python y realice un análisis breve de ellas, indicando el tipo de cada variable.

In [ ]:
import pandas as pd
# Cargamos la base de datos usando pandas
b = pd.read_excel('salud.xlsx')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

2.- Usando el comando <code>crosstab()</code> y calculando las proporciones, responda las siguientes preguntas:

1. ¿Cuál es la probabilidad de pertenecer a colegio municipal?

In [ ]:
# Con el comando crosstab() realizamos una tabla donde las filas es el sexo y las columnas el colegio
pd.crosstab(b['sexo'], b['colegio'])

# a)
## Guardamos la tabla como t1
t1 = pd.crosstab(b['sexo'], b['colegio'], margins=True)

(t1/t1.loc["All", "All"])*100

##  Luego, la probabilidad de pertenecer a un colegio municipal = 13.1%

colegio    Municipal  Particular  Subvencionado         All
sexo
Femenino    4.857143   13.428571      22.285714   40.571429
Masculino   8.285714   16.571429      34.571429   59.428571
All        13.142857   30.000000      56.857143  100.000000

2. ¿Cuál es la probabilidad de ser de sexo femenino dado que se pertenece a colegio municipal?

In [ ]:
# b)

(t1/t1.loc["All"])*100

## Luego, la probabilidad sexo femenino DADO colegio municipal = 37.0%

colegio     Municipal  Particular  Subvencionado         All
sexo
Femenino    36.956522   44.761905       39.19598   40.571429
Masculino   63.043478   55.238095       60.80402   59.428571
All        100.000000  100.000000      100.00000  100.000000

3. ¿Cuál es la probabilidad de pertenecer a colegio municipal dado que se es de sexo Femenino?

In [ ]:
# c)

(t1.div(t1["All"], axis=0))*100

## Luego, la probabilidad de pertenecer a un colegio municipal DADO sexo femenino = 12.0%

colegio    Municipal  Particular  Subvencionado    All
sexo
Femenino   11.971831   33.098592      54.929577  100.0
Masculino  13.942308   27.884615      58.173077  100.0
All        13.142857   30.000000      56.857143  100.0

4. ¿Cuál es la probabilidad de tener un IMC entre 22 y 25?

In [ ]:
# d)

## Realizamos una tabla entre el IMC y el colegio y la guardamos como t2
t2 = pd.crosstab(b['IMC'], b['colegio'], margins=True)
t2

colegio  Municipal  Particular  Subvencionado  All
IMC
19 - 22         28          67            120  215
22 - 25         15          30             70  115
25 - 28          3           7              8   18
28 -31           0           1              1    2
All             46         105            199  350

5. ¿Cuál es la probabilidad de ser de tener un IMC entre 22 y 25 dado que se pertenece a colegio municipal?

In [ ]:
# e)

(t2/t2.loc["All"])*100

## La probabilidad de tener el  IMC entre 22 y 25 = 32.9%

colegio   Municipal  Particular  Subvencionado         All
IMC
19 - 22   60.869565   63.809524      60.301508   61.428571
22 - 25   32.608696   28.571429      35.175879   32.857143
25 - 28    6.521739    6.666667       4.020101    5.142857
28 -31     0.000000    0.952381       0.502513    0.571429
All      100.000000  100.000000     100.000000  100.000000

6. ¿Cuál es la probabilidad de pertenecer a colegio particular dado que el IMC está entre 19 y 22?

In [ ]:
# f)
(t2.div(t2["All"], axis=0))*100

## La probabilidad de estar en un colegio particular DADO que tengo IMC22-25 = 26.1%

colegio  Municipal  Particular  Subvencionado    All
IMC
19 - 22  13.023256   31.162791      55.813953  100.0
22 - 25  13.043478   26.086957      60.869565  100.0
25 - 28  16.666667   38.888889      44.444444  100.0
28 -31    0.000000   50.000000      50.000000  100.0
All      13.142857   30.000000      56.857143  100.0